header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.enterprise-title {
  color: #ffffff;
  margin-left: 72px;
  cursor: pointer;
}

.enterprise-title span {
  text-decoration: underline;
}

.social-media-section {
  margin-left: 72px;
  display: flex;
}

.social-media-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-button img {
  width: 24px;
  height: 24px;
  transition: 0.15s;
}

.social-media-button:hover img {
  margin-right: 6px;
  margin-bottom: 6px;
}